body {
    padding: 10px;
}

h1 {
    color: #ff0000;
    padding: 0px 0px 16px 0px;
    font-size: 25px;
    font-weight: bold;
}

.divWins {
    color: purple;
}
    
.divLosses {
    color: darkblue;
}

.divGuessesLeft {
    color: rgb(4, 87, 87);
}

.divGuessesSoFar {
    color: rgb(141, 92, 0);
}